{% extends 'store/main.html' %} {% load static %} {% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form">
                <!--User Info-->
                <div id="user-info">
                    <p>User Information::</p>
                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" placeholder="Name">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="text" name="email" placeholder="Email">
                    </div>
                </div>
                <!--Shipping Info-->
                <div id="shipping-info">
                    <hr>
                    <p>Shipping Information::</p>
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Address">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="City">
                    </div>
                </div>
                <hr>
                <input id="form-button" type="submit" class="btn btn-success btn-block" value="Continue">
            </form>
        </div>

        <br>
        <div class="box-element hidden" id="payment-info">
            <small>Pay With Mpesa</small>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'cart' %}"> &#x2190; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
        </div>

    </div>
</div>{% endblock content %}