 {% extends 'store/main.html' %} {% load static %} {% block content %}

<div class="row">
    <div class="col-lg-4">
        <img src="{% static 'images/pic1.jpg'%}" class="img-thumbnail">
        <div class="box-element product">
            <h6><strong>Rose Water  & Ivy Cream </strong></h6>
            <br>

            <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right"><strong>Ksh.1600</strong></h4>

        </div>
    </div>
    <div class="col-lg-4">
        <img src="{% static 'images/pic2.jpg'%}" class="img-thumbnail">
        <div class="box-element product">
            <h6><strong>Rose Water  & Ivy Mist </strong></h6>
            <br>
            <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right"><strong>Ksh.1500</strong></h4>
        </div>
    </div>

    <div class="col-lg-4">
        <img src="{% static 'images/pic3.jpg'%}" class="thumbnail">
        <div class="box-element product">
            <h6><strong>Hello Beautiful Fine Fragrance </strong></h6>
            <br>
            <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right"><strong>Ksh.1500</strong></h4>
        </div>
    </div>
</div>

{% endblock content %}