.main {
    margin-top: 0px;
    width: 100%;
    height: 100vh;
    border-radius: 30px;
    background: linear-gradient(-90deg, #fce7f6 0%, #e3eaf8 100%);
}

.main-1 {
    width: 36%;
    margin-left: 80px;
    padding-top: 70px;
}

.hd {
    font-size: 53px;
    color: #333;
}

.hd2 {
    font-size: 64px;
    color: #222;
    margin-top: -45px;
    letter-spacing: 0.03em;
    font-weight: 900;
}

.content {
    width: 94%;
    margin-top: 35px;
    color: gray;
    letter-spacing: 0.01em;
    font-weight: 500;
    font-size: 16px;
}

.btn {
    margin-top: 80px;
}

.btn a {
    background: #fff;
    font-size: 16px;
    color: #ff0073;
    border-radius: 25px;
    padding: 15px 35px;
    padding-left: 45px;
    letter-spacing: 0.1em;
    box-shadow: 2px 1px 7px #000;
}

.main-r {
    position: absolute;
    top: 150px;
    left: 500px;
}

.r-t {
    margin-left: 100px;
    margin-top: 5px;
}

.r-t img {
    height: 350px;
    margin-top: 5px;
}